<footer class='footer'>
	<ul>
		<li><a href='https://github.com/CodeHxH' target='_blank'><i
					class='bi bi-github'
				></i></a></li>
		<li><a href='https://instagram.com/witsite_oficial' target='_blank'><i
					class='bi bi-instagram'
				></i></a></li>
		<li><a
				href='https://api.whatsapp.com/send?phone=584249142598'
				target='_blank'
			><i class='bi bi-whatsapp'></i></a></li>
	</ul>

	<a href='/' class='copyright'>Developed And Designed By Witsite. ©2021. All
		Rights Reserved.</a>
</footer>